- name: set variables centos/redhat
  set_fact:
    systemd_dir: /usr/lib/systemd/system
    config_dir: /etc/sysconfig
  when: ansible_distribution == 'CentOS'

- name: set variables debian/ubuntu
  set_fact:
    systemd_dir: /etc/systemd/system
    config_dir: /etc/default
  when: ansible_distribution == 'Ubuntu'

- name: add user to run nginx as
  user:
    name: "{{ nginx_username }}"
    shell: /sbin/nologin
    createhome: yes
    home: /var/lib/nginx
  tags:
    - nginx_user

- name: get nginx user uid
  shell: "echo -n $(id -u {{ nginx_username }})"
  changed_when: false
  register: nginx_uid

- name: copy systemd service file
  template:
    src: templates/nginx.service.j2
    dest: "{{ systemd_dir }}/nginx.service"
  notify:
    - restart nginx

- name: copy nginx environment file
  template:
    src: templates/nginx.sysconfig.j2
    dest: "{{ config_dir }}/nginx"
  notify:
    - restart nginx

- name: copy validation script
  copy:
    src: ../shared-files/validate_nginx_config.sh
    dest: /usr/local/bin/validate_nginx_config.sh
    mode: 0755

- name: copy nginx base config
  copy:
    src: ../shared-files/nginx.conf
    dest: /etc/nginx/nginx.conf
    force: "{{ overwrite | default('no') }}"
    backup: yes
  notify:
    - restart nginx

- name: copy ssl.cfg nginx config
  template:
    src: ../shared-files/ssl.cfg.j2
    dest: /etc/nginx/conf.d/ssl.cfg
    validate: "/usr/local/bin/validate_nginx_config.sh -t %s -d conf.d/ssl.conf -r"
  notify:
    - restart nginx
  tags:
    - configure_nginx_ssl

- name: configure nginx access password
  htpasswd:
    path: /etc/nginx/.htpasswd
    name: '{{ fullnode_user }}'
    password: '{{ fullnode_user_password }}'
    owner: root
    group: 101
    mode: 0640
  #no_log: true

- name: 'download nginx docker image, this can take a moment...'
  docker_image:
    name: "{{ nginx_image }}"
    tag: "{{ nginx_tag }}"
  tags:
    - nginx_docker_image
  notify:
    - restart nginx

- name: flush handlers
  meta: flush_handlers

- name: ensure nginx started and enabled
  systemd:
    name: nginx.service
    state: started
    enabled: true
