# Example configuration of multiple hosts
[fullnode]
iota01.tangle.io ansible_user=john ip=10.20.30.40
iota02.tangle.io ansible_user=root ip=10.30.40.50 ansible_ssh_host=10.200.200.10
10.20.30.40      ansible_ssh_port=9922

[fullnode:vars]
# Eanble this line for Ubuntu and Debian only!
#ansible_python_interpreter=/usr/bin/python3

# Only set this line if you didn't ssh to the servers previously
# from the node where you are about to run the playbook from:
ansible_ssh_common_args='-o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no'
