[Unit]
Description=CarrIOTA Field

[Service]
TimeoutStartSec=0
Restart=always
EnvironmentFile=-/etc/sysconfig/field
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run \
  --name %p \
  --hostname field \
  --user {{ field_uid.stdout }} \
  --net=iri_net \
  --cap-drop=ALL \
  -v /etc/localtime:/etc/localtime:ro,Z \
  -v ${FIELD_CONFIG}:/usr/src/field/config.ini:ro,Z \
  -v ${FIELD_WORKDIR}:/home:rw,Z \
  -e HOME=/home \
  -p ${BIND_ADDRESS}:${BIND_PORT}:${BIND_PORT} \
  {{ field_image }}:{{ field_tag }} \
  --config /usr/src/field/config.ini

ExecStop=/usr/bin/docker stop %p
ExecReload=/usr/bin/docker restart %p

[Install]
WantedBy=multi-user.target
