[field]
name = {{ my_field_name }}
IRIPort = {{ iri_api_port }}
IRIHostname = {{ field_iri_host }}
address = {{ field_address }}
; Alternatively to address, you can provide a (NEW) seed
; In this case, the Field cient will be generating new, unused addresses dynamically.
; seed = XYZ
port = {{ field_tcp_port }}
pow = {{ field_pow }}
disableIRI = false
; If you want Field to generate a custom id, instead of using machine-id
customFieldId = {{ field_custom_id }}
