[field]
name = {{ my_field_name }}
IRIPort = {{ iri_api_port }}
IRIHostname = {{ field_iri_host }}
bindAddress = {{ field_bind_address }}

; Address for payouts
address = {{ field_address }}

port = {{ field_tcp_port }}
pow = {{ field_pow|string|lower }}
disableIRI = false
; If you want Field to generate a custom id, instead of using machine-id
customFieldId = {{ field_custom_id|string|lower }}
