[Unit]
Description=HAProxy Load Balancer
After=syslog.target network.target docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
EnvironmentFile=-{{ config_dir }}/haproxy
SuccessExitStatus={{ service_success_exit_status | default('143') }}
ExecStartPre=-/bin/bash -c "/usr/bin/docker rm %p || /bin/true"
ExecStartPre=/usr/bin/docker run \
  --name %p \
  --hostname {{ inventory_hostname }} \
  --rm \
  -v /etc/haproxy:/usr/local/etc/haproxy:ro,Z \
  -v /etc/ssl:/etc/ssl:ro,Z \
  -v /etc/letsencrypt:/etc/letsencrypt:ro,Z \
  {{ haproxy_image }}:${TAG} \
  haproxy -c -f /usr/local/etc/haproxy/haproxy.cfg
ExecStart=/usr/bin/docker run \
  --name %p \
  --hostname {{ inventory_hostname }} \
  --net=host \
  --pid=host \
  --ulimit nofile={{ haproxy_nofile_limit }}:{{ haproxy_nofile_limit }} \
  -e REMOTE_LIMIT_API="${REMOTE_LIMIT_API}" \
{% for mount in haproxy_mounts %}
  -v {{ mount }} \
{% endfor %}
  $DOCKER_OPTS \
  {{ haproxy_image }}:${TAG}

ExecReload=/usr/bin/docker kill -s HUP %p
ExecStop=/usr/bin/docker stop %p
LimitNOFILE={{ haproxy_nofile_limit }}
KillMode=mixed

[Install]
WantedBy=multi-user.target
