TAG={{ haproxy_tag }}

# REGEX for commands to deny.
# Example: REMOTE_LIMIT_API="(get|remove|add)Neighbors|attachToTangle|interruptAttachingToTangle"
# (Use | to delimit commands)
REMOTE_LIMIT_API="{{ haproxy_deny_regex }}"
