- name: create collector text files directory
  file:
    path: "{{ collector_textfiles_dir }}"
    state: directory
    owner: "{{ prom_username }}"
    group: "{{ prom_username }}"
  tags:
    - monitoring_deps

- import_tasks: image-node-exporter.yml
  tags:
    - node_exporter_docker_image

- name: copy exporter rsyslog config file
  copy:
    src: files/node_exporter.rsyslog.conf
    dest: /etc/rsyslog.d/node_exporter.conf
  when: ansible_distribution == 'CentOS'
  notify:
    - restart rsyslog

- name: copy exporter sysconfig file
  template:
    src: templates/node-exporter.sysconfig.j2
    dest: "{{ config_dir }}/node-exporter"
  notify:
    - restart node-exporter
  tags:
    - prometheus_config

- name: copy exporter systemd service file
  template:
    src: templates/node-exporter.service.j2
    dest: "{{ systemd_dir }}/node-exporter.service"
  notify:
    - restart node-exporter
  tags:
    - prometheus_config

- name: copy db size custom script
  copy:
    src: "roles/monitoring/files/{{ item }}"
    dest: "/usr/local/bin/{{ item }}"
    mode: 0755
  with_items:
    - get_db_size.sh
  tags:
    - prometheus_config

- name: cronjob to get mainnetdb size
  cron:
    name: "get-mainnet-db-size"
    job: "/usr/local/bin/get_db_size.sh {{ collector_textfiles_dir }}/mainnetdb_size.prom {{ iri_basedir }}/target/mainnetdb"
  tags:
    - prometheus_config

- name: flush handlers
  meta: flush_handlers

- name: ensure node exporter enabled and started
  systemd:
    name: node-exporter.service
    state: started
    enabled: yes
