- name: 'download node exporter docker image, this can take a moment...'
  docker_image:
    name: "{{ exporter_image }}"
    tag: "{{ exporter_tag }}"
    force: "{{ force_pull_image | default('no') }}"
  tags:
    - node_exporter_image
  notify:
    - restart node-exporter

- name: copy exporter rsyslog config file
  copy:
    src: files/node_exporter.rsyslog.conf
    dest: /etc/rsyslog.d/node_exporter.conf
  when: ansible_distribution == 'CentOS'
  notify:
    - restart rsyslog

- name: copy exporter sysconfig file
  template:
    src: templates/node-exporter.sysconfig.j2
    dest: "{{ config_dir }}/node-exporter"
  notify:
    - restart node-exporter

- name: copy exporter systemd service file
  template:
    src: templates/node-exporter.service.j2
    dest: "{{ systemd_dir }}/node-exporter.service"
  notify:
    - restart node-exporter

- name: flush handlers
  meta: flush_handlers

- name: ensure node exporter enabled and started
  systemd:
    name: node-exporter.service
    state: started
    enabled: yes
