- import_tasks: preinstall.yml
  tags:
    - monitoring_preinstall

- import_tasks: firewall.yml
  tags:
    - monitoring_firewall
  when: configure_firewall is defined and configure_firewall|bool == True

- import_tasks: alertmanager.yml
  tags:
    - alertmanager_config

- import_tasks: prometheus.yml
  tags:
    - prometheus_config

- import_tasks: node-exporter.yml
  tags:
    - node_exporter_config

- import_tasks: iota-prom-exporter.yml
  tags:
    - iota_prom_exporter_config

- import_tasks: field-exporter.yml
  tags:
    - field_exporter
    - field_exporter_config
  when:
    - field_enabled is defined
    - field_enabled|bool == True

- import_tasks: grafana.yml
  tags:
    - grafana_config

- import_tasks: cadvisor.yml
  tags:
    - cadvisor_config

- import_tasks: uninstall.yml
  tags:
    - uninstall
    - uninstall_monitoring
  when: uninstall_playbook is defined and uninstall_playbook|bool == True
