[Unit]
Description=Nginx

[Service]
TimeoutStartSec=0
Restart=on-failure
EnvironmentFile=-{{ config_dir }}/nginx
SuccessExitStatus={{ service_success_exit_status | default('143') }}
ExecStartPre=/bin/bash -c "/bin/systemctl set-environment SSL_CERTS_DIR=$(readlink -f /etc/ssl/certs)"
ExecStartPre=-/bin/bash -c "/usr/bin/docker rm %p || /bin/true"
ExecStart=/usr/bin/docker run \
  --name %p \
  --hostname %p \
  --net=host \
  --pid=host \
  -v /etc/localtime:/etc/localtime:ro,Z \
  -v /etc/nginx/nginx.conf:/etc/nginx/nginx.conf:ro,Z \
  -v /etc/ssl/private:/etc/ssl/private:ro,Z \
  -v /var/log/nginx:/var/log/nginx:rw,Z \
  -v ${SSL_CERTS_DIR}:/etc/ssl/certs:ro,Z \
  -v /etc/letsencrypt:/etc/letsencrypt:ro,Z \
  -v /etc/nginx/.htpasswd:/etc/nginx/.htpasswd:ro,Z \
  -v /etc/nginx/conf.d:/etc/nginx/conf.d:ro,Z \
  $DOCKER_OPTS \
  {{ nginx_image }}:${TAG}

ExecStop=/usr/bin/docker stop %p
ExecReload=/usr/bin/docker exec %p nginx -s reload

[Install]
WantedBy=multi-user.target
