let path = require('path')
global.rootPath = path.normalize(path.join(__dirname, '..', '..'))

module.exports = {

    // field_exporter config
    field_node_public_id: '{{ field_public_id }}',
    field_nodes_public_ids_array: [{% for item in field_nodes_public_ids_array %}"{{ item }}"{% if loop.index < loop.length %},{% endif %}{% endfor %}],

    // address and port where the exporter will be bound
    bind_address: '{{ field_exporter_bind_address }}',
    bind_port: {{ field_exporter_bind_port }},
}
