[Unit]
Description=IOTA FullNode
After=network-online.target
 
[Service]
WorkingDirectory={{ iri_basedir }}/target
EnvironmentFile=-{{ config_dir }}/iri
ExecStart=/usr/bin/java -Xmx${JAVA_MEM} -jar iri-${IRI_VERSION}.jar -p ${IRI_API_PORT} -u ${IRI_UDP_PORT} -t ${IRI_TCP_PORT} -n "${IRI_NEIGHBORS}" --remote-limit-api "${REMOTE_LIMIT_API}" ${OPTIONS}
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=10
Type=simple
User={{ iri_username }}
Group={{ iri_username }}
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=iri

# Restrict process
PrivateDevices=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes

[Install]
WantedBy=multi-user.target
