# IRI image tag (=version)
TAG={{ iri_tag }}

# IRI base image
IRI_IMAGE={{ iri_image }}

# Java initial mem usage
JAVA_MIN_MEMORY={{ iri_init_java_mem }}

# Java max mem usage for iri
JAVA_MAX_MEMORY={{ iri_java_mem }}

# Enables port iri management port for other containers to interact with
# IRI bypassing command limitations 
# This port will also bind to localhost on the host.
# !!! Only set this option when running IRI in a bridged !!!
# network mode (i.e. `iri_net_name` is defined and enabled)
DOCKER_IRI_MONITORING_API_PORT_ENABLE={% if iri_net_name is defined %}1{% else %}0{% endif %}

# Remote connections cannot access those command for security.
# To enable PoW on your node, remove attachToTangle and interruptAttachingToTangle
DOCKER_IRI_REMOTE_LIMIT_API="{{ iri_remote_limit_api }}"

# TCP neighboring port listens on this address on the node.
# The value 0.0.0.0 means "all interfaces".
NEIGHBORING_SOCKET_ADDRESS={{ iri_tcp_port_bind_address }}

# TCP peering port
NEIGHBORING_SOCKET_PORT={{ iri_tcp_port }}

# IRI API Port. Note that this is the port that will be
# configured for IRI, however, while running as a Docker
# container, it is recommended to leave this as is.
# You can expose the node using HAPRoxy and configure
# with which port your node can be accessed (API/wallet)
API_PORT={{ iri_api_port }}

# ZMQ Port
ZMQ_PORT={{ iri_zmq_port }}

# ZMQ Bind Address
ZMQ_BIND={{ iri_zmq_bind }}

# Fill in neighbor addresses separated by space, e.g.
# IRI_NEIGHBORS="tcp://cfb.is.ai:14600 tcp://iota.rules.io:15600"
IRI_NEIGHBORS=""

# Optional OPTIONS can contain multiple values e.g.
#OPTIONS="--rescan true --revalidate true"
# or
#OPTIONS="--milestone-start 0 --milestone-keys 16 --max-depth 1000 --testnet true"
OPTIONS=""

# Optional options for Docker
DOCKER_OPTS=""
