upstream iotapm {
    server {{ iotapm_bind_address }}:{{ iotapm_port }};
}

server {
    listen {{ iotapm_nginx_port }} default_server;
    server_name _;
    server_tokens off;

    auth_basic "Restricted";
    auth_basic_user_file /etc/nginx/.htpasswd;

    location / {
        proxy_pass http://iotapm;
    }
}
