# Refresh data in seconds
REFRESH=5

# IP and port to listen on
BIND="{{ iotapm_bind_address }}:{{ iotapm_port }}"

# The IP address and port where to reach IRI API full node
# Edit if necessary.
IRI="http://127.0.0.1:{{ iri_api_port }}"
