[Unit]
Description=IOTA Peer Manager

[Service]
TimeoutStartSec=0
Restart=always
EnvironmentFile=-{{ config_dir }}/iota-pm
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run \
  --name %p \
  --hostname iota-pm \
  --user {{ iotapm_uid.stdout }} \
  --net={{ iri_net_name }} \
  --cap-drop=ALL \
  -v /etc/localtime:/etc/localtime:ro,Z \
  -v /var/spool/iotapm/iota-pm.conf:/opt/iota-pm/iota-pm.conf \
  -p ${BIND_ADDRESS}:${BIND_PORT}:${BIND_PORT} \
  -e IOTA_NODE=${IRI_ADDRESS} \
  -e HTTP_PORT=${BIND_PORT} \
  -e HOME=/opt/iota-pm \
  -e REFRESH=${REFRESH} \
  {{ iotapm_image }}:{{ iotapm_tag }}

ExecStop=/usr/bin/docker stop %p
ExecReload=/usr/bin/docker restart %p

[Install]
WantedBy=multi-user.target
