# image tag/version
TAG={{ iotapm_tag }}

# Refresh data in seconds
REFRESH=5

# IRI network access values
BIND_ADDRESS={{ iotapm_bind_address }}
BIND_PORT={{ iotapm_port }}
IRI_ADDRESS="http://iri:{{ iri_mgmt_api_port|default('14266') }}"
