API_PORT={{ nelson_api_port }}
TCP_PORT={{ nelson_tcp_port }}
NELSON_CONFIG={{ nelson_configdir }}/config.ini
NELSON_IRI_HOST={{ nelson_iri_host }}
NELSON_API_HOST={{ nelson_api_host }}
IRI_PORT={{ iri_mgmt_api_port|default('14266') }}
IRI_UDP={{ iri_udp_port }}
IRI_TCP={{ iri_tcp_port }}
