[Unit]
Description=Nelson GUI
After=docker.service nelson.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
EnvironmentFile=-{{ config_dir }}/nelson-gui
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run \
  --name %p \
  --hostname nelsongui \
  --user {{ nelson_uid.stdout }} \
  --net={{ iri_net_name }} \
  --cap-drop=ALL \
  -v /etc/localtime:/etc/localtime:ro,Z \
  -p ${GUI_BIND_ADDRESS}:${GUI_PORT}:${GUI_PORT} \
  {{ nelsongui_image }}:${TAG} \
  --port $GUI_PORT \
  --apiHostname nelson \
  --apiPort $NELSON_API_PORT

ExecStop=/usr/bin/docker stop %p
ExecReload=/usr/bin/docker restart %p

[Install]
WantedBy=multi-user.target
