upstream nelsongui {
    server 127.0.0.1:{{ nelson_gui_port_internal }};
}

server {
    listen {{ nelson_gui_port }} default_server ssl http2;
    server_name _;
    server_tokens off;

    # Redirect same port from http to https
    error_page 497 https://$host:$server_port$request_uri;

    include /etc/nginx/conf.d/ssl.cfg;

    # uses own auth
    #auth_basic "Restricted";
    #auth_basic_user_file /etc/nginx/.htpasswd;

    location / {
        proxy_pass http://nelsongui;
        proxy_redirect              off;
        proxy_set_header            Host $host;
        proxy_set_header            X-Real-IP $remote_addr;
        proxy_set_header            X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
