[Unit]
Description=Nelson GUI
After=docker.service nelson.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
EnvironmentFile=-{{ config_dir }}/nelson-gui
SuccessExitStatus={{ service_success_exit_status | default('143') }}
ExecStartPre=-/bin/bash -c "/usr/bin/docker rm %p || /bin/true"
ExecStart=/usr/bin/docker run \
  --name %p \
  --user {{ nelson_uid.stdout }} \
  --net={{ iri_net_name | default('host') }} \
  --cap-drop=ALL \
  -v /etc/localtime:/etc/localtime:ro,Z \
{% if iri_net_name is defined %}
  --hostname nelsongui \
  -p ${GUI_BIND_ADDRESS}:${GUI_PORT}:${GUI_PORT} \
{% endif %}
  $DOCKER_OPTS \
  {{ nelsongui_image }}:${TAG} \
  --port $GUI_PORT \
  --apiHostname {{ 'nelson' if iri_net_name is defined else '127.0.0.1' }} \
  --apiPort $NELSON_API_PORT

ExecStop=/usr/bin/docker stop %p
ExecReload=/usr/bin/docker restart %p

[Install]
WantedBy=multi-user.target
