[Unit]
Description=Nelson
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
EnvironmentFile=-{{ config_dir }}/nelson
SuccessExitStatus={{ service_success_exit_status | default('143') }}
ExecStartPre=-/bin/bash -c "/usr/bin/docker rm %p || /bin/true"
ExecStart=/usr/bin/docker run \
  --name %p \
  --user {{ nelson_uid.stdout }} \
  --net={{ iri_net_name | default('host') }} \
  --cap-drop=ALL \
  -v {{ nelson_datadir }}:/var/lib/nelson/data:Z \
  -v {{ nelson_configdir }}:/etc/nelson:ro,Z \
  -v /etc/localtime:/etc/localtime:ro,Z \
{% if iri_net_name is defined %}
  --hostname nelson \
  -p ${NELSON_API_HOST}:${API_PORT}:${API_PORT} \
  -p ${TCP_PORT}:${TCP_PORT}  \
{% endif %}
  -e NELSON_CONFIG=${NELSON_CONFIG} \
  $DOCKER_OPTS \
  {{ nelson_image }}:${TAG}

ExecStop=/usr/bin/docker stop %p
ExecReload=/usr/bin/docker restart %p

[Install]
WantedBy=multi-user.target
