TAG={{ alertmanager_tag }}
BIND_ADDRESS={{ alertmanager_bind }}
BIND_PORT={{ alertmanager_port }}
LOG_LEVEL={{ alertmanager_loglevel }}
WEB_EXTERNAL_ADDRESS=https://{{ ansible_default_ipv4.address }}:{{ alertmanager_proxy_port }}
WORK_DIR={{ alertmanager_basedir }}
TEMPLATE_DIR={{ alertmanager_basedir }}/template
CONFIG_FILE={{ alertmanager_basedir }}/config.yml
DOCKER_OPTS="--cpus={{ alertmanager_docker_cpu_shares | default('.25') }}"
