upstream alertmanager {
    server 127.0.0.1:{{ alertmanager_port }};
}

server {
    listen {{ alertmanager_nginx_port }} default_server ssl http2;
    server_name _;
    server_tokens off;

    # Redirect same port from http to https
    error_page 497 https://$host:$server_port$request_uri;

    ssl_certificate {{ ssl_cert_file }};
    ssl_certificate_key {{ ssl_key_file }};
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;

    # If you choose to add dhparam, run this command and
    # remove # from the line beginning with `ssl_dhparam`:
    # `cd /etc/ssl/private && openssl dhparam -out dhparam.pem 4096`
    #ssl_dhparam /etc/ssl/private/dhparam.pem;

    ssl_prefer_server_ciphers on;
    ssl_ciphers 'AES256+EECDH:AES256+EDH:!aNULL';
    ssl_session_timeout 1d;
    ssl_session_cache shared:SSL:10m;
    ssl_ecdh_curve secp384r1;
    resolver 8.8.8.8 8.8.4.4 valid=300s;
    resolver_timeout 10s;
    ssl_stapling off;
    ssl_stapling_verify off;
    # Replace when valid certificates
    #ssl_trusted_certificate /etc/ssl/certs/bundle-cert.crt;
    add_header Strict-Transport-Security max-age=15768000;
    add_header X-Frame-Options DENY;
    add_header X-Content-Type-Options nosniff;

    auth_basic "Restricted";
    auth_basic_user_file /etc/nginx/.htpasswd;

    location / {
        proxy_pass http://alertmanager;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }
}
