[Unit]
Description=Grafana Server
After=network.target docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
EnvironmentFile=-{{ config_dir }}/grafana-server
SuccessExitStatus={{ service_success_exit_status | default('143') }}
ExecStartPre=-/bin/bash -c "/usr/bin/docker rm %p || /bin/true"
ExecStart=/usr/bin/docker run \
  --name %p \
  --user {{ grafana_uid.stdout }} \
  --net={{ iri_net_name | default('host') }} \
  --cap-drop=ALL \
  -v /etc/localtime:/etc/localtime:ro,Z \
  -v ${CONFIG_FILE}:${CONFIG_FILE}:ro,Z \
  -v ${BASE_DIR}:${BASE_DIR}:Z \
  -v ${PROV_DIR}:${PROV_DIR}:ro,Z \
{% if iri_net_name is defined %}
  --hostname %p \
  -p ${BIND_ADDRESS}:${BIND_PORT}:${BIND_PORT} \
{% endif %}
  -e GF_SERVER_PROTOCOL=http \
  $DOCKER_OPTS \
  {{ grafana_image }}:${TAG} \
  --config=${CONFIG_FILE} \
  cfg:default.paths.data=${BASE_DIR} \
  cfg:default.paths.provisioning=${PROV_DIR}

ExecStop=/usr/bin/docker stop %p
ExecReload=/usr/bin/docker restart %p

[Install]
WantedBy=multi-user.target
