TAG={{ grafana_tag }}
BIND_PORT={{ grafana_port }}
BIND_ADDRESS={{ grafana_bind_address }}
CONFIG_FILE={{ grafana_configdir }}/grafana.ini
BASE_DIR={{ grafana_basedir }}
PROV_DIR={{ grafana_provisioning_path }}
DOCKER_OPTS=""
