[Unit]
Description=IOTA Prometheus Exporter
After=network.target docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
EnvironmentFile=-{{ config_dir }}/iota-prom-exporter
ExecStartPre=-/bin/docker rm %p
ExecStart=/bin/docker run \
  --name %p \
  --hostname %p \
  --user {{ promuser_uid.stdout }} \
  --net={{ iri_net_name }} \
  --cap-drop=ALL \
  -v /etc/localtime:/etc/localtime:ro,Z \
  -v {{ iota_prom_exporter_basedir }}/config.js:/exporter/config.js:ro,Z \
  -v {{ iota_prom_exporter_basedir }}/db:/exporter/db:Z \
  $DOCKER_OPTS \
  -p ${BIND_ADDRESS}:${BIND_PORT}:${BIND_PORT} \
  {{ iota_prom_exporter_image }}:${TAG}

ExecStop=/bin/docker stop %p
ExecReload=/bin/docker restart %p

[Install]
WantedBy=multi-user.target
