let path = require('path')
global.rootPath = path.normalize(path.join(__dirname, '..', '..'))

module.exports = {
    // url and port of your IRI node
    iota_node_url: 'http://127.0.0.1:{{ iri_api_port }}',

    // keep this
    stresstest_table_url: 'http://analytics.iotaledger.net/stresstest.table',

    // address and port where the exporter will be bound
    bind_address: '{{ iota_prom_exporter_bind }}',
    bind_port: '{{ iota_prom_exporter_port }}',

    // address where zmq is being served (example: '127.0.0.1:5556')
    // *** Leave blank if ZMQ is not enabled on IRI ***
    zmq_url: '{% if iri_zmq_enabled is defined and iri_zmq_enabled %}127.0.0.1:{{ iri_zmq_port }}{% endif %}',

    // if true, will pull in market info (IOT to USD, IOT to BTC, etc)
    // *** Leave blank if you do not want market into pulled in ***
    market_info_flag: '{% if iota_prom_exporter_market_data defined and iota_prom_exporter_market_data %}true{% endif %}'
}
