[Unit]
Description=Node Exporter for Prometheus
After=network.target docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
EnvironmentFile=-{{ config_dir }}/node-exporter
SuccessExitStatus={{ service_success_exit_status | default('143') }}
ExecStartPre=-/bin/bash -c "/usr/bin/docker rm %p || /bin/true"
ExecStart=/usr/bin/docker run \
  --name %p \
  --user {{ promuser_uid.stdout }} \
  --net={{ iri_net_name | default('host') }} \
  --cap-drop=ALL \
  -v /proc:/host/proc:ro,Z \
  -v /sys:/host/sys:ro,Z \
  -v /:/rootfs:ro,Z \
  -v {{ collector_textfiles_dir }}:{{ collector_textfiles_dir }}:ro,Z \
  -v /etc/localtime:/etc/localtime:ro,Z \
{% if iri_net_name is defined %}
  --hostname %p \
  -p ${BIND_ADDRESS}:${BIND_PORT}:${BIND_PORT} \
{% endif %}
  $DOCKER_OPTS \
  {{ exporter_image }}:${TAG} \
  --web.listen-address={% if iri_net_name is not defined %}127.0.0.1{% endif %}:${BIND_PORT} \
  --collector.filesystem.ignored-mount-points ^/(sys|proc|dev|run|host|etc|rootfs/var/lib/docker/containers|rootfs/run/docker/netns|rootfs/var/lib/docker/overlay2|rootfs/var/lib/docker/aufs)($$|/) \
  --collector.textfile.directory={{ collector_textfiles_dir }} \
  --path.procfs=/host/proc \
  --path.sysfs=/host/sys

ExecStop=/usr/bin/docker stop %p
ExecReload=/usr/bin/docker restart %p

[Install]
WantedBy=multi-user.target
