[Unit]
Description=Node Exporter for Prometheus
After=network.target docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
EnvironmentFile=-{{ config_dir }}/node-exporter
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run \
  --name %p \
  --hostname prometheus \
  --user {{ promuser_uid.stdout }} \
  --net={{ iri_net_name }} \
  --cap-drop=ALL \
  -v /proc:/host/proc:ro,Z \
  -v /sys:/host/sys:ro,Z \
  -v /:/rootfs:ro,Z \
  -v /etc/localtime:/etc/localtime:ro,Z \
  -p ${BIND_ADDRESS}:${BIND_PORT}:${BIND_PORT} \
  {{ exporter_image }}:${TAG} \
  --web.listen-address=:${BIND_PORT} \
  --collector.filesystem.ignored-mount-points ^/(sys|proc|dev|run|host|etc|rootfs/var/lib/docker/containers|rootfs/var/lib/docker/overlay2|rootfs/var/lib/docker/aufs)($$|/)
  
ExecStop=/usr/bin/docker stop %p
ExecReload=/usr/bin/docker restart %p

[Install]
WantedBy=multi-user.target
