global:
  scrape_interval: 10s

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:{{ prom_port }}']

  - job_name: 'node_exporter'
    scrape_interval: 5s
    static_configs:
      - targets: ['{{ 'node-exporter' if iri_net_name is defined else '127.0.0.1' }}:{{ exporter_port }}']

  - job_name: 'iota_exporter'
    scrape_interval: 5s
    static_configs:
      - targets: ['{{ 'iota-prom-exporter' if iri_net_name is defined else '127.0.0.1' }}:{{ iota_prom_exporter_port }}']

  - job_name: 'cadvisor'
    scrape_interval: 5s
    static_configs:
      - targets: ['{{ 'cadvisor' if iri_net_name is defined else '127.0.0.1' }}:{{ cadvisor_port }}']

  - job_name: 'haproxy_exporter'
    scrape_interval: 10s
    scheme: https
    tls_config:
      insecure_skip_verify: true
    static_configs:
      - targets: ['localhost:{{ haproxy_stats_port }}']

alerting:
  alertmanagers:
    - scheme: http
      static_configs:
      - targets:
        - "{{ 'alertmanager' if iri_net_name is defined else '127.0.0.1' }}:{{ alertmanager_port }}"

rule_files:
  - "{{ prom_configdir }}/alert.rules.yml"
