global:
  scrape_interval: 10s

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:{{ prom_port }}']

  - job_name: 'node_exporter'
    scrape_interval: 5s
    static_configs:
      - targets: ['node-exporter:{{ exporter_port }}']

  - job_name: 'iota_exporter'
    scrape_interval: 5s
    static_configs:
      - targets: ['iota-prom-exporter:{{ iota_prom_exporter_port }}']

  - job_name: 'cadvisor'
    scrape_interval: 5s
    static_configs:
      - targets: ['cadvisor:{{ cadvisor_port }}']

alerting:
  alertmanagers:
    - scheme: http
      static_configs:
      - targets:
        - "alertmanager:{{ alertmanager_port }}"

rule_files:
  - "{{ prom_configdir }}/alert.rules.yml"
