BIND_PORT={{ prom_port }}
BIND_ADDRESS={{ prom_bind_address }}
DATA_DIR={{ prom_datadir }}
CONFIG_FILE={{ prom_configdir }}/{{ prom_config }}
TAG={{ prom_tag }}
DOCKER_OPTS="--cpus={{ prom_docker_cpu_shares | default('.25') }}"
