[Unit]
Description=Prometheus
After=network.target docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
EnvironmentFile=-{{ config_dir }}/prometheus
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run \
  --name %p \
  --hostname prometheus \
  --user {{ promuser_uid.stdout }} \
  --net={{ iri_net_name }} \
  --cap-drop=ALL \
  -v /etc/localtime:/etc/localtime:ro,Z \
  -v ${CONFIG_FILE}:/etc/prometheus/prometheus.yml:ro,Z \
  -v ${DATA_DIR}:/data:Z \
  -p ${BIND_ADDRESS}:${BIND_PORT}:${BIND_PORT} \
  {{ prom_image }}:${TAG} \
  --config.file=/etc/prometheus/prometheus.yml \
  --storage.tsdb.path=/data/ \
  --web.listen-address=:${BIND_PORT}

ExecStop=/usr/bin/docker stop %p
ExecReload=/usr/bin/docker restart %p

[Install]
WantedBy=multi-user.target
