global:
  scrape_interval: 10s

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:{{ prom_port }}']

  - job_name: 'node_exporter'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:{{ exporter_port }}']

  - job_name: 'iota_exporter'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:{{ iota_prom_exporter_port }}']

{% if field_enabled is defined and field_enabled|bool == true %}
  - job_name: 'field_exporter'
    scrape_interval: 30s
    static_configs:
      - targets: ['{{ field_exporter_bind_address }}:{{ field_exporter_bind_port }}']
{% endif %}

alerting:
  alertmanagers:
    - scheme: http
      static_configs:
      - targets:
        - "{{ alertmanager_bind }}:{{ alertmanager_port }}"

rule_files:
  - "{{ prom_configdir }}/alert.rules.yml"
