[Unit]
Description=Restart IRI Executor For Prometheus
Wants=network-online.target
After=network.target

[Service]
WorkingDirectory={{ prom_basedir }}
Restart=on-failure
ExecStart={{ prom_basedir }}/prom-am-executor -v -l 127.0.0.1:{{ prom_am_executor_port }} {{ prom_basedir }}/restart_iri.sh
Type=simple

# No need that exporter messes with /dev
PrivateDevices=yes

# Dedicated /tmp
PrivateTmp=yes

# Make /usr, /boot, /etc read only
ProtectSystem=full

# /home is not accessible at all
ProtectHome=yes

# This service has to be able to issue a systemctl restart.
# Attempting to use sudoers special rule didn't work out
# to let an unprivileged user to run a sudo command.
# That's why the use of user root here.
User=root
Group=root

[Install]
WantedBy=multi-user.target
