upstream prometheus {
    server 127.0.0.1:{{ prom_port }};
}

server {
    listen {{ prom_proxy_port }} default_server ssl http2;
    server_name _;
    server_tokens off;

    # Redirect same port from http to https
    error_page 497 https://$host:$server_port$request_uri;

    # Include SSL Directives from file
    include /etc/nginx/conf.d/ssl.cfg;

    auth_basic "Restricted";
    auth_basic_user_file /etc/nginx/.htpasswd;

    location / {
        proxy_pass http://prometheus;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }
}
